<div class="products-container">
    @for ( product of getFilteredProducts(); track product.id)
    {
        <div class="product" (click)="goToProductDetails(product.id)">
          <img [src]="product.image[0]"  alt="{{ product.name }}">
          <div >
            <h5>{{ product.name }}</h5>
            <p>Category: <strong>{{ product.category }}</strong></p>
            <p>Price: <strong>{{ product.price }} EGP</strong></p>
            <button  (click)="addToCart(product);$event.stopPropagation()">Add to Cart</button>
          </div>
        </div>
    }
</div>
